.about_header_bottom {
  height: 820px;
  background-image: url("../img/aboutsplash.jpg");
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -103px;
  .row>div {
  padding: 0;
  }
  .about_header_bottom_content {
    text-align: left;
    padding: 176px 66px 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(138deg, #3023ae, #c96dd8);
    h2 {
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      color: $white;
      font-family: Karla-Regular, sans-serif;
      line-height: 1.67;
      margin-bottom: 30px;
    }
  }
}
//Media queries
@include breakpoint(small) {
  .about_header_bottom {
    height: auto;
  }
  .about_header_bottom .about_header_bottom_content {
    padding: 50px 66px 0;
  }
  .about_header_bottom .about_header_bottom_content h2 {
    text-align: center;
  }
  .about_header_bottom .about_header_bottom_content h2 {
    font-size: 35px;
  }
}

@include breakpoint(medium) {
  .about_header_bottom .about_header_bottom_content h2 {
    font-size: 40px;
  }
}

@include breakpoint(large) {
  .about_header_bottom {
    height: 820px;
  }
  .about_header_bottom .about_header_bottom_content {
    padding: 176px 66px 0;
    height: 820px;
  }
  .about_header_bottom .about_header_bottom_content h2 {
    text-align: left;
  }
  .about_header_bottom .about_header_bottom_content h2 {
    font-size: 48px;
  }
}