.business {
  .border__block {
    margin-bottom: -10px;
    .startup_block, .business_block, .web__block {
      min-height: 456px;
      background-image: url("../img/sturtup.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -25;
    }
    .business_block {
      background-image: url("../img/business.jpg");
    }
    .web__block {
      background-image: url("../img/website.jpg");
    }
    .background__business {
      margin-bottom: 8px;
    }
  }
}

.blue__form__business, .blue__form__business__reverse {
  position: relative;
  padding-left: 94px;
  >div {
    z-index: 1;
    position: relative;
  }
  h4 {
    padding-top: 88px;
    padding-bottom: 4px;
    font-size: 32px;
    color: $white;
  }
  .hr {
    width: 100px;
    height: 5px;
    margin-bottom: 19px;
    background-color: $white;
  }
  p {
    color: $white;
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 1;
    width: 70%;
  }
  a.link {
    padding: 13px 55px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 456px solid rgba(54, 203, 238, .8);
    border-right: 360px solid transparent;
    height: 0;
    width: 828px;
  }
}
.blue__form__business__reverse {
  padding-left: 287px;
  h4 {
    color: $black;
  }
  p {
    width: 85%;
    color: $black;
  }
  .hr {
    height: 3px;
    background-color: $accent;
  }
  &:after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    border-top: 456px solid rgba(255, 255, 255, .9);
    border-right: 250px solid rgba(255, 255, 255, .9);
    border-left: 360px solid transparent;
    height: 0;
    width: 828px;
  }
  .services__link {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    a {
      padding: 13px 55px;
    }
  }
}
.web__block.background__business {
  margin-bottom: 0;
  .blue__form__business {
    h4 {
      padding-top: 75px;
    }
    p {
      margin-bottom: 28px;
    }
  }
}
//Media queries
@include breakpoint(small) {
  .blue__form__business, .blue__form__business__reverse {
    &:after {
      content: "";
      width: 100%;
    }
  }
  .blue__form__business__reverse, .blue__form__business {
    padding-left: 0;
  }
  .blue__form__business a.link, .blue__form__business__reverse a.link {
    padding-bottom: 20px;
  }
  .blue__form__business:after {
    border-right: 0 solid transparent;
  }
  .blue__form__business__reverse:after {
    border-left: 0 solid transparent;
  }
  .blue__form__business p, .blue__form__business__reverse p {
    width: 100%;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .blue__form__business, .blue__form__business__reverse {
    &:after {
      content: "";
      width: 828px;
    }
  }
  .blue__form__business__reverse {
    padding-left: 287px;
  }
  .blue__form__business {
    padding-left: 94px;
  }
  .blue__form__business a.link, .blue__form__business__reverse a.link {
    margin-bottom: 0;
  }
  .blue__form__business:after {
    border-right: 360px solid transparent;
  }
  .blue__form__business__reverse:after {
    border-left: 360px solid transparent;
  }
  .blue__form__business p {
    width: 70%;
  }
  .blue__form__business__reverse p {
    width: 85%;
  }
  .web__block.background__business .blue__form__business p {
    margin-bottom: 0;
  }
}
@include breakpoint(xxlarge){
  .web__block.background__business .blue__form__business p {
    margin-bottom: 28px;
  }
}