.contacts {
  height: 200px;
  text-align: center;
  .contacts__wrap {
    background-image: linear-gradient(to bottom, #36ccee, #199cd8);
    border-right: 1px solid #979797;
    .contacts__block__wrap {
      height: 200px;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .contacts__block {
        display: inline-block;
        vertical-align: middle;
        span {
          font-size: 32px;
          color: $white;
          padding-right: 40px;
        }
      }
    }
  }
}

a.link {
  display: inline-block;
  width: 211px;
  height: 61px;
  margin: 0 auto;
  font-size: 24px;
  padding: 13px 25px;
  color: $accent;
  background-color: $white;
  &:hover {
    background-color: $accent_h;
    color: $white;
    border-radius: 5px;
    transition: .3s;
  }
}
//Media queries
@include breakpoint(small) {
  .contacts, .contacts .contacts__wrap .contacts__block__wrap {
    height: auto;
  }
  .contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }
  .contacts a.link {
    margin-bottom: 10px;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .contacts, .contacts .contacts__wrap .contacts__block__wrap {
    height: 200px;
  }
  .contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    display: inline-block;
    padding-right: 40px;
    margin-bottom: 0;
  }
  .contacts a.link {
    margin-bottom: 0;
  }
}
