@font-face {
  font-family: "Abel-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Abel-Regular/Abel-Regular.eot");
  src: url("../fonts/Abel-Regular/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Abel-Regular/Abel-Regular.woff") format("woff"), url("../fonts/Abel-Regular/Abel-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Karla-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Karla-Regular/Karla-Regular.eot");
  src: url("../fonts/Karla-Regular/Karla-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla-Regular/Karla-Regular.woff") format("woff"), url("../fonts/Karla-Regular/Karla-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Karla-Italic";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Karla-Italic/Karla-Italic.eot");
  src: url("../fonts/Karla-Italic/Karla-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla-Italic/Karla-Italic.woff") format("woff"), url("../fonts/Karla-Italic/Karla-Italic.ttf") format("truetype"); }
@font-face {
  font-family: "Karla-Bold";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Karla-Bold/Karla-Bold.eot");
  src: url("../fonts/Karla-Bold/Karla-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Karla-Bold/Karla-Bold.woff") format("woff"), url("../fonts/Karla-Bold/Karla-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Raleway-ExtraLight";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-ExtraLight/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway-ExtraLight/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraLight/Raleway-ExtraLight.woff") format("woff"), url("../fonts/Raleway-ExtraLight/Raleway-ExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?nyljq3');
  src:  url('../fonts/icomoon/icomoon.eot?nyljq3#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?nyljq3') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?nyljq3') format('woff'),
  url('../fonts/icomoon/icomoon.svg?nyljq3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e900";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-cloud:before {
  content: "\e900";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-cloud-mini:before {
  content: "\e901";
  background: linear-gradient(to right, #36ccee, #199cd8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 61px;
}
.circle:hover .icon-cloud-mini:before {
  content: "\e901";
  color: #000;
  transition: .3s;
}
.icon-earth:before {
  content: "\e902";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-earth:before {
  content: "\e902";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-earth-mini:before {
  content: "\e903";
  background: linear-gradient(to right, #36ccee, #199cd8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 67px;
}
.circle:hover .icon-earth-mini:before {
  content: "\e903";
  color: #000;
  transition: .3s;
}
.icon-expirence:before {
  content: "\e904";
  color: #fff;
}
.solve__black__block:hover .icon-expirence:before {
  content: "\e904";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-ion-ios-cloud-upload-outline---ionicons:before {
  content: "\e905";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-ion-ios-cloud-upload-outline---ionicons:before {
  content: "\e905";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-ion-ios-world-outline---ionicons:before {
  content: "\e906";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-ion-ios-world-outline---ionicons:before {
  content: "\e906";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-productivite:before {
  content: "\e907";
  color: #fff;
}
.solve__black__block:hover .icon-productivite:before {
  content: "\e907";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-reliability:before {
  content: "\e908";
  color: #fff;
}
.solve__black__block:hover .icon-reliability:before {
  content: "\e908";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-shape:before {
  content: "\e909";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-shape:before {
  content: "\e909";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-shape-mini:before {
  content: "\e90a";
  background: linear-gradient(to right, #36ccee, #199cd8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 57px;
}
.circle:hover .icon-shape-mini:before {
  content: "\e90a";
  color: #000;
  transition: .3s;
}
.icon-support:before {
  content: "\e90b";
  background: linear-gradient(92deg, #3023ae, #c96dd8);
  background-color: red;
  -webkit-background-clip: text;
  color: transparent;
}
.circle:hover .icon-support:before {
  content: "\e90b";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}
.icon-support-mini:before {
  content: "\e90c";
  background: linear-gradient(to right, #36ccee, #199cd8);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 68px;
}
.circle:hover .icon-support-mini:before {
  content: "\e90c";
  color: #000;
  transition: .3s;
}
.icon-trust:before {
  content: "\e90d";
  color: #fff;
}
.solve__black__block:hover .icon-trust:before {
  content: "\e90d";
  color: rgba(25, 156, 216, .7);
  transition: .3s;
}