footer {
  text-align: center;
  color: $white;
  .footer__wrap {
    height: 180px;
    background-color: $black;
    .footer_list {
      padding-top: 51px;
      padding-bottom: 12px;
      li {
        margin-right: 109px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $white;
          font-size: 18px;
          &:hover {
            color: $accent;
            transition: .3s;
          }
        }
      }
    }
    .copyright {
      font-size: 16px;
      padding-left: 9px;
      margin-top: 20px;
    }
  }
}
//Media queries
@include breakpoint(small) {
  footer .footer__wrap .footer_list li {
    margin-right: 20px;
  }
  footer .footer__wrap .footer_list li a {
    font-size: 14px;
  }
  footer .footer__wrap .copyright {
    font-size: 14px;
  }
}

@include breakpoint(medium) {
  footer .footer__wrap .footer_list li a {
    font-size: 16px;
  }
}

@include breakpoint(large) {
  footer .footer__wrap .footer_list li {
    margin-right: 109px;
  }
  footer .footer__wrap .footer_list li a {
    font-size: 18px;
  }
  footer .footer__wrap .copyright {
    font-size: 16px;
  }
}
