.footer__contacts__blue {
  min-height: 300px;
  text-align: center;
  .border__block {
    background-image: linear-gradient(180deg, rgba(54, 203, 238, 0.9) 0%, rgba(25, 156, 216, 0.9) 100%);
    .contacts__block__wrap {
      height: 300px;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .contacts__block {
        display: inline-block;
        vertical-align: middle;
        span {
          display: block;
          word-wrap: break-word;
          font-size: 32px;
          color: $white;
          padding-bottom: 40px;
        }
      }
    }
  }
}

//Media queries
@include breakpoint(small) {
  .footer__contacts__blue .border__block .contacts__block__wrap {
    height: auto;
    min-height: 300px;
  }
  .footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block {
    margin: 50px 0;
  }
  .footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    font-size: 22px;
  }
  .footer__contacts__blue .border__block .contacts__block__wrap .contacts__block span {
    padding-top: 70px;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .footer__contacts__blue .border__block .contacts__block__wrap {
    height: 300px;
  }
  .footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block {
    //margin-right: 8px;
    margin-top: 45px;
  }
  .footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    font-size: 32px;
  }
  .footer__contacts__blue .border__block .contacts__block__wrap .contacts__block span {
    padding-top: 0;
  }
}