.form {
  .border__block {
    background-image: url("../img/contactsplash.jpg");
    background-repeat: no-repeat;
    background-position: 100% 84.2%;
    background-size: cover;
    z-index: -10;
    .form__background {
      background-color: rgba(0, 0, 0, 0.5);
      z-index:10;
      .form__wrap {
        min-height: 641px;
        text-align: center;
        .form__block {
          margin-top: 52px;
          h2 {
            margin-right: 57%;
            margin-bottom: 5px;
            font-size: 36px;
            line-height: 1.67;
            color: $white;
          }
          .left__form, .right__form {
            display: inline-block;
            width: 470px;
            .input__block {
              width: 100%;
              height: 80px;
              background: #199cd8;
              border-radius: 4px;
              margin-bottom: 20px;
              text-align: left;
              label {
                display: inline-block;
                padding: 5px 0 6px 20px;
                font-family: 'Karla-Regular', sans-serif;
                font-size: 12px;
                text-transform: uppercase;
                color: $white;
              }
              input, textarea {
                display: block;
                width: 95.7%;
                height: 40px;
                margin: 0 11px 8px;
                font-family: 'Karla-Regular', sans-serif;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, .1);
                outline: none;
                border-color: transparent;
                color: #199cd8;
                padding-left: 8px;
                &::-webkit-input-placeholder {
                  font-family: 'Karla-Italic', sans-serif;
                  font-size: 16px;
                  font-style: italic;
                  text-align: left;
                  color: #c7d4e0;
                  display: inline-block;
                }
                &:focus {
                  background: $white;
                  &::-webkit-input-placeholder {
                    font-family: 'Karla-Regular', sans-serif;
                    font-size: 16px;
                    font-style: inherit;
                    line-height: 1.88;
                    text-align: left;
                    color: #199cd8;
                  }
                }
              }
              textarea {
                margin: 0 11px 0;
              }
            }
          }
          .left__form {
            margin-left: 32%;
          }
          .right__form {
            margin-right: 32%;
            .input__block {
              height: 380px;
              textarea {
                height: 340px;
                resize: none;
                &::-webkit-input-placeholder {
                  padding-top: 10px;
                  padding-left: 10px;
                }
                &:focus {
                  &::-webkit-input-placeholder {
                    padding-top: 0;
                    padding-left: 0;
                  }
                }
              }
            }
          }
          .submit__form {
            width: 221px;
            height: 40px;
            margin-top: 42px;
            background: $white;
            text-align: center;
            margin-bottom: 72px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            margin-left: 15.5%;
            input[type="submit"] {
              display: inline-block;
              font-family: 'Karla', sans-serif;
              font-size: 12px;
              font-weight: bold;
              line-height: 40px;
              background: transparent;
              text-transform: uppercase;
              border: none;
              color: #199cd8;
            }
            &:hover, &:active, &:focus {
              outline: none;
              mix-blend-mode: lighten;
              background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to bottom, #36ccee, #199cd8);
              input {
                color: $white;
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
@include breakpoint(small){
  .form .border__block .form__background .form__wrap .form__block .left__form {
    margin-left: 0;
    width: 100%;
  }
  .form .border__block .form__background .form__wrap .form__block .right__form {
    margin-right: 0;
    width: 100%;
  }
  .form .border__block .form__background .form__wrap .form__block h2 {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .form .border__block .form__background .form__wrap .form__block .submit__form {
    margin: 0 auto 20px;
  }
}
@include breakpoint(medium){

}
@include breakpoint(large){

}
@include breakpoint(xxlarge){
  .form .border__block .form__background .form__wrap .form__block .left__form {
    margin-left: 32%;
    width: 470px;
  }
  .form .border__block .form__background .form__wrap .form__block .right__form {
    margin-right: 32%;
    width: 470px;
  }
  .form .border__block .form__background .form__wrap .form__block h2 {
    margin-right: 57%;
  }
  .form .border__block .form__background .form__wrap .form__block .submit__form {
    margin-left: 15.5%;
    margin-top: 22px;
  }
}