header .row, .business .row {
  padding-left: 41px;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  display: inline-block;
}

//Mobile menu
.mobile {
  li {
    outline: none;
    &:hover {
      background-color: $accent_h;
      outline: none;
    }
    a {
      color: $white;
    }
  }
}

//Header
header {
  height: auto;
  .logo {
    .logo__text {
      margin-bottom: 0;
      a {
        margin-top: 33px;
        font-size: 24px;
        font-family: "Raleway-ExtraLight", sans-serif;
        letter-spacing: 4.8px;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
  nav {
    float: right;
    height: 100px;
    .nav__list {
      padding: 0;
      height: 100px;
      margin: 0 45px 0 0;
      line-height: 100px;
      li {
        line-height: normal;
        margin: 0 20px;
        &:last-child {
          margin: 0;
        }
        &:hover {
          background-image: linear-gradient(to right, #36ccee, #199cd8);
          color: #fff;
          transition: .3s;
        }
        a {
          display: inline-block;
          color: $black;
          font-size: 18px;
          &:hover {
            color: $white;
            padding: 16px 49px 16px 49px;
            transition: .5s;
          }
        }
      }
    }
  }
  .header__img__block {
    height: 820px;
    background-image: url("../img/comphuter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .blue__form {
      padding-top: 175px;
      z-index: 50;
      h1 {
        font-size: 48px;
        color: #ffffff;
        margin-bottom: 21px;
      }
      p {
        font-family: "Karla-Regular", sans-serif;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 80px;
      }
      .learn__more, .contact_us {
        display: inline-block;
        text-align: center;
        width: 211px;
        line-height: 61px;
        height: 61px;
        color: #ffffff;
        padding: 0 25px;
        border: 1px solid #fff;
        font-size: 24px;
        &:hover {
          background-color: #fff;
          color: #1b89cf;
        }
      }
      .learn__more {
        margin-right: 83px;
      }
    }
  }

}
.menu .active > a {
  position: relative;
  background: transparent;
  color: $black;
}
.menu .active > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 29px;
  height: 3px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #36ccee, #199cd8);
  background: linear-gradient(to bottom, #36ccee, #199cd8);
  border-image-slice: 1;
}
// Border on page
.border__block {
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
}

.blue__form {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -56px;
    border-top: 820px solid rgba(54, 203, 238, .8);
    border-right: 364px solid transparent;
    height: 0;
    width: 828px;
    z-index: -20;
  }
}
.menu {
  padding: 15px;
}
//Media queries
@include breakpoint(small) {
  header .logo .logo__text a {
    font-size: 20px;
  }
  .blue__form {
    &:after {
      content: "";
      width: 100%;
    }
  }
  header .header__img__block .blue__form .learn__more {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .menu {
    padding: 15px;
  }
  header .header__img__block .blue__form h1 {
    font-size: 34px;
  }
  header nav .nav__list {
    margin: 0;
  }
  .menu {
    padding: 0;
  }
  .blue__form:after {
    content: "";
    border: none;
  }
}

@include breakpoint(medium) {
  header nav .nav__list li a {
    font-size: 14px;
  }
  .menu {
    padding: 0;
  }
  header .header__img__block .blue__form h1 {
    font-size: 48px;
  }
  header nav .nav__list li {
    margin: 0;
  }
  header nav .nav__list li a:hover {
    padding: 16px 30px 16px 30px;
  }
  .blue__form:after {
    content: "";
    position: absolute;
    top: 0;
    left: -56px;
    border-top: 820px solid rgba(54, 203, 238, .8);
    border-right: 364px solid transparent;
    height: 0;
    width: 828px;
    z-index: -20;
  }
}
@include breakpoint(large) {
  header .logo .logo__text a {
    font-size: 24px;
  }
  header nav .nav__list li a {
    font-size: 16px;
  }
  .blue__form {
    &:after {
      content: "";
      width: 828px;
    }
  }
  .solve__blue .solve__blue__wrap .services__link {
    padding-right: 57px;
  }
  menu {
    padding: 15px;
  }
  header nav .nav__list li a:hover {
    padding: 16px 49px 16px 49px;
  }
}
@include breakpoint(xxlarge) {
  header nav .nav__list li {
    margin: 0 20px;
  }
  header nav .nav__list li a {
    font-size: 18px;
    margin-right: 0;
  }
  header .header__img__block .blue__form .learn__more {
    margin-right: 83px;
    margin-bottom: 0;
  }
}
