.industries__link__img {
  .industries__link__img__block {
    height: 642px;
    background-image: url("../img/industriessplash.jpg");
    background-position: 50% 14%;
    background-repeat: no-repeat;
    z-index: -10;
    .industries__link_background {
      height: 642px;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
      .industries__link__left__block {
        padding-left: 41px;
        margin-left: 5px;
        .link__back {
          display: inline-block;
          font-size: 16px;
          margin-top: 53px;
          margin-bottom: 98px;
          color: #d8d8d8;
          &:hover {
            color: $accent;
          }
          .fa {
            display: inline-block;
            margin-right: 9px;
          }
        }
        h2 {
          color: $white;
          font-size: 36px;
        }
      }
      .industries__link__right_block {
        padding-right: 41px;
        margin: 176px 3px 220px 32px;
        p {
          font-family: "Karla-Regular", sans-serif;
          font-size: 18px;
          line-height: 1.35;
          color: $white;
        }
      }
    }
  }
}
@include breakpoint(small){
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__right_block {
    padding-right: 0;
    margin: 50px 0;
  }
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block h2 {
    text-align: center;
  }
  .industries__link__img .industries__link__img__block, .industries__link__img .industries__link__img__block .industries__link_background {
    height: auto;
  }
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block {
    padding-left: 0;
    margin-left: 0;
  }
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block .link__back {
    margin-bottom: 30px;
  }
}
@include breakpoint(medium) {
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block .link__back {
    margin-bottom: 98px;
  }
}
@include breakpoint(large) {
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__right_block {
    padding-right: 41px;
    margin: 176px 3px 220px 32px;
  }
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block h2 {
    text-align: left;
  }
  .industries__link__img .industries__link__img__block, .industries__link__img .industries__link__img__block .industries__link_background {
    height: 642px;
  }
  .industries__link__img .industries__link__img__block .industries__link_background .industries__link__left__block {
    padding-left: 41px;
    margin-left: 5px;
  }
}