.industries_img__block {
  height: 820px;
  background-image: url("../img/industriessplash.jpg");
  background-position: 50% 14%;
  background-repeat: no-repeat;
  .industries__left__block {
    overflow: hidden;
    .rotate__block__top {
      position: relative;
      left: -40px;
      width: 634px;
      height: 234.6px;
      margin-top: 100px;
      transform: rotate(-15deg);
      background-image: linear-gradient(111deg, #3023ae, #c96dd8);
      z-index: 20;
      p {
        font-size: 36px;
        text-align: left;
        color: $white;
        padding-top: 84px;
        padding-left: 95px;
        line-height: 1.4;
      }
    }
    .rotate__block__middle {
      position: relative;
      width: 541.6px;
      height: 198px;
      left: -40px;
      transform: rotate(-15deg);
      background-color: rgba(104, 0, 246, 0.9);
      z-index: 10;
    }
    .rotate__block__bottom {
      position: relative;
      width: 509.1px;
      height: 190px;
      margin-bottom: 60px;
      left: -40px;
      transform: rotate(-15deg);
      background-color: rgba(151, 135, 255, 0.9);
      z-index: 5;
    }
  }
  .arrow__dropdown__link {
    text-align: center;
    position: relative;
    .chevron::before {
      color: $white;
      border-style: solid;
      border-width: 0.25em 0.25em 0 0;
      content: '';
      display: inline-block;
      height: 20px;
      left: 0;
      position: relative;
      top: 20px;
      transform: rotate(-45deg);
      vertical-align: top;
      width: 20px;
    }
    .chevron.chevron__bottom:before {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
@include breakpoint(small) {
  .industries_img__block .industries__left__block .rotate__block__top p {
    font-size: 25px;
    width: 75%;
  }
  .industries_img__block .industries__left__block .rotate__block__top {
    width: 450px;
  }
  .industries_img__block .industries__left__block .rotate__block__middle {
    width: 410px;
  }
  .industries_img__block .industries__left__block .rotate__block__bottom {
    width: 380px;
  }
}
@include breakpoint(medium) {
  .industries_img__block .industries__left__block .rotate__block__top p {
    font-size: 32px;
    width: 100%;
  }
  .industries_img__block .industries__left__block .rotate__block__top {
    width: 634px;
  }
  .industries_img__block .industries__left__block .rotate__block__middle {
    width: 541.6px;
  }
  .industries_img__block .industries__left__block .rotate__block__bottom {
    width: 509.1px;
  }
}
@include breakpoint(large) {

}