#industries__content {
  text-align: center;
  .industries__wrapper {
    margin: 0 66px -25px;
    h2 {
      padding-top: 48px;
    }
    .hr__h2 {
      margin-bottom: 78px;
      background-color: $accent_f;
    }
    .industries__block {
      width: 100%;
      font-size: 18px;
      line-height: normal;
      .circle__wrap {
        width: 100%;
        height: 220px;
        margin-bottom: 70px;
        .industries__block__circle {
          position: relative;
          width: 216px;
          height: 220px;
          margin: 0 auto;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border-width: 4px;
          border-color: $accent_f;
          border-style: solid;
          &:hover {
            background-color: $accent_f;
            border-color: $accent_f;
            transition: all .3s ease-in-out;
            .industries__title {
              color: $white;
            }
          }
          .industries__title {
            display: inline-block;
            color: $black;
          }
          &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          img {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@include breakpoint(small) {
  #industries__content .industries__wrapper .industries__block .circle__wrap .industries__block__circle {
    width: 190px;
    height: 190px;
  }
}

@include breakpoint(medium) {
  #industries__content .industries__wrapper .industries__block .circle__wrap .industries__block__circle {
    width: 216px;
    height: 216px;
  }
}

@include breakpoint(large) {

}