.problem {
  text-align: center;
  .problem__wrapper {
    margin: 0 66px;
    h2 {
      padding-top: 150px;
    }
    .hr__h2 {
      margin-bottom: 78px;
    }
    .problem__block {
      width: 100%;
      font-size: 18px;
      line-height: 1;
      .circle__wrap {
        width: 100%;
        height: 220px;
        .services__block__circle {
          width: 210px;
          height: 210px;
          line-height: 210px;
          position: relative;
          background:#fff;
          margin: 0 auto;
          border-radius: 50%;
          border: 4px solid transparent;
          &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position:absolute;
            width: 107%;
            height: 107%;
            background: linear-gradient(92deg, #3023ae, #c96dd8);
            left: -3.5%;
            top: -3.5%;
            z-index:-1;
            border-radius:50%;
          }
          img {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      .problem__name {
        display: inline-block;
        margin-top: 18px;
        padding-bottom: 5px;
      }
      .problem__title {
        display: inline-block;
        margin-bottom: 105px;
      }
    }
  }
}
.problem__border {
  border-right: 1px solid #979797;
  padding-bottom: 7px;
}
//Media queries
@include breakpoint(small) {
  .problem .problem__wrapper .problem__block .circle__wrap .services__block__circle {
    width: 150px;
    height: 150px;
  }
  .problem .problem__wrapper .problem__block .circle__wrap {
    height: 160px;
  }
  .problem .problem__wrapper .problem__block .problem__title {
    margin-bottom: 30px;
  }
}

@include breakpoint(medium) {
  .problem .problem__wrapper .problem__block .circle__wrap .services__block__circle {
    width: 219px;
    height: 219px;
  }
  .problem .problem__wrapper .problem__block .circle__wrap {
    height: 219px;
  }
  .problem .problem__wrapper .problem__block .problem__title {
    margin-bottom: 100px;
  }
}

@include breakpoint(large) {
  .problem .problem__wrapper .problem__block .circle__wrap .services__block__circle {
    width: 200px;
    height: 200px;
  }
}
@include breakpoint(xlarge) {
  .problem .problem__wrapper .problem__block .circle__wrap .services__block__circle {
    width: 219px;
    height: 219px;
  }
}