.services, .solve__black, .solve__blue {
  text-align: center;
  .border__block {
    border-bottom: none;
    border-top: none;
    .services__wrap {
      margin: 0 66px;
    }
  }
}
.services {
  .title__section {
    padding-top: 98px;
    margin-left: 0;
  }
}
.services__block.services__block__first {
  padding-left: 0;
}
.services__block {
  padding-left: 7px;
  text-align: center;
  .services__block__circle {
    width: 212px;
    height: 215px;
    line-height: 215px;
    position: relative;
    background:#fff;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid transparent;
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position:absolute;
      width: 107%;
      height: 107%;
      background: linear-gradient(92deg, #3023ae, #c96dd8);
      left: -3.5%;
      top: -3.5%;
      z-index:-1;
      border-radius:50%;
    }
   span {
      display: inline-block;
      vertical-align: middle;
      font-size: 150px;
    }
    .icon-cloud {
      font-size: 135px;
    }
    .icon-shape {
      font-size: 130px;
    }
  }
  .services__name {
    margin-top: 15px;
    font-size: 18px;
  }
}
.services__link {
  margin-top: 55px;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 2px;
  a {
    display: inline-block;
    font-size: 24px;
    color: $white;
    padding: 13px 29px;
    background: linear-gradient(to right, #36ccee, #199cd8);
    &:hover {
      background-color: $accent_h;
      transition: .3s;
      border-radius: 10px;
    }
  }
}

//h2
h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

.hr__h2 {
  margin: 0 auto 30px;
  width: 100px;
  height: 3px;
  background-color: $accent;
  &:hover {
    width: 150px;
    background-color: $accent_h;
    transition: .3s;
  }
}
@include breakpoint(large) {
  .services__block .services__block__circle {
    width: 200px;
    height: 210px;
  }
}
@include breakpoint(xlarge) {
  .services__block .services__block__circle {
    width: 212px;
    height: 215px;
  }
}