.service__footer__contacts {
  min-height: 300px;
  text-align: center;
  .contacts__wrap {
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    .contacts__block__wrap {
      height: 300px;
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      .contacts__block {
        display: inline-block;
        vertical-align: middle;
        span {
          display: block;
          word-wrap: break-word;
          font-size: 32px;
          color: $black;
          padding-bottom: 44px;
        }
        a.link {
          background-image: linear-gradient(to right, #36ccee, #199cd8);
          color: $white;
        }
      }
    }
  }
}
//Media queries
@include breakpoint(small) {
  .service__footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    font-size: 22px;
  }
  .footer__contacts__blue .border__block .contacts__block__wrap .contacts__block span {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .service__footer__contacts .contacts__wrap .contacts__block__wrap {
    height: auto;
    min-height: 300px;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .service__footer__contacts .contacts__wrap .contacts__block__wrap {
    height: 300px;
  }
  .service__footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block span {
    font-size: 32px;
  }
  .footer__contacts__blue .border__block .contacts__block__wrap .contacts__block span {
    font-size: 32px;
    padding-bottom: 40px;
  }
}