.service__content {
  .background__service__content {
    min-height: 456px;
    position: relative;
    padding-left: 94px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    > div {
      z-index: 1;
      position: relative;
      margin-top: 8px;
      margin-bottom: -8px;
    }
    a {
      display: inline-block;
      padding-top: 91px;
      padding-bottom: 4px;
      font-size: 32px;
      color: $black;
    }
    .hr {
      width: 100px;
      height: 5px;
      margin-bottom: 16px;
      background: linear-gradient(to right, #36ccee, #199cd8);
    }
    p {
      color: $black;
      padding-bottom: 48px;
      font-size: 18px;
      width: 100%;
      line-height: 1.25;
    }

  }
  .white__form__service {
    position: relative;
    padding-left: 0;
    background: none;
    p {
      width: 74%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -94px;
      border-top: 456px solid rgba(255, 255, 255, .9);
      border-right: 360px solid transparent;
      height: 0;
      width: 828px;
    }
  }
  .blue__form__service {
    position: relative;
    padding-left: 287px;
    a, p, .hr {
      color: $white;
      margin-left: -10%;
    }
    .hr {
      background: $white;
    }
    &:after {
      content: "";
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      background-image: linear-gradient(to bottom, rgba(54, 203, 238, 0.9), rgba(25, 156, 216, 0.9));
      border-top: 456px solid rgba(54, 203, 238, .8);
      border-right: 250px solid rgba(54, 203, 238, .8);
      border-left: 360px solid transparent;
      height: 0;
      width: 828px;
    }
  }
}

//Background content
.manage__block {
  background-image: url("../img/manageditsolutions.jpg");
}

.data__block {
  background-image: url("../img/datarecovery.jpg");
}
.network__block {
  background-image: url("../img/networksupport.jpg");
}
.cloude__block {
  background-image: url("../img/cloudservices.jpg");
}
.support__block {
  background-image: url("../img/oncallsupport.jpg");
}
.servers__block {
  background-image: url("../img/virtualanddedicatedservers.jpg");
}
.email__block {
  background-image: url("../img/email.jpg");
}
.special__block {
  background-image: url("../img/special projects.jpg");
  background-position: 50% 47% !important;
}
.events__block {
  background-image: url("../img/events.jpg");
}
.monitoring__block {
  background-image: url("../img/systemmonitoring.jpg");
}
.wifi__block {
  background-image: url("../img/networking_wifi.jpg");
  background-position: 50% 52% !important;
}
.website__block {
  background-image: url("../img/website.jpg");
}
.security__block {
  background-image: url("../img/security.jpg");
}
@include breakpoint(small) {
  .service__content .blue__form__service {
    padding-left: 0;
  }
  .service__content .background__service__content {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .service__content .blue__form__service a, .service__content .blue__form__service p, .service__content .blue__form__service .hr {
    margin-left: 0;
  }
  .service__content .white__form__service p {
    width: 100%;
  }
  .service__content .background__service__content .blue__form__service {
    background-color: rgba($accent, .8);
  }
  .service__content .background__service__content .white__form__service {
    background-color: rgba(255, 255, 255, .8);
  }
  .service__content .blue__form__service:after {
    content: "";
    background-image: none;
    border: none;
    width: 0;
  }
  .service__content .white__form__service:after {
    content: "";
    background-image: none;
    border: none;
    width: 0;
  }
  .service_img .service_img__block .service__img__background .service__left__block p {
    font-size: 18px;
    width: 100%;
  }
  .service_img .service_img__block .service__img__background .service__left__block h2 {
    font-size: 35px;
  }
  .service_img .service_img__block .service__img__background .service__right_block ul li a {
    font-size: 16px;
    line-height: 1.8;
  }
  .service_img .service_img__block .service__img__background .service__right_block ul {
    margin-left: 0;
  }
  .service_img .service_img__block .service__img__background .service__right_block {
    height: auto;
  }
  .service_img .service_img__block .service__img__background .service__left__block {
    padding-left: 0;
    margin-bottom: 35px;
  }
  .service_img, .service_img .service_img__block .service__img__background .service__left__block p {
    text-align: center;
  }
  .service__footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block a.link {
    width: 150px;
    font-size: 18px;
  }
}
@include breakpoint(medium) {
  .service__content .blue__form__service {
    padding-left: 94px;
  }
  .service__content .white__form__service {
    padding-left: 94px;
  }
  .service__content .blue__form__service a, .service__content .blue__form__service p, .service__content .blue__form__service .hr {
    margin-left: -10%;
  }
  .service__content .white__form__service p {
    width: 74%;
  }
  .service__content .background__service__content .blue__form__service, .service__content .background__service__content .white__form__service {
    background-color: transparent;
  }
  .service__content .blue__form__service:after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(54, 203, 238, 0.9), rgba(25, 156, 216, 0.9));
    border-top: 456px solid rgba(54, 203, 238, 0.8);
    border-right: 250px solid rgba(54, 203, 238, 0.8);
    border-left: 360px solid transparent;
    height: 0;
    width: 815px;
  }
  .service__content .white__form__service:after {
    content: "";
    position: absolute;
    top: 0;
    left: -94px;
    border-top: 456px solid rgba(255, 255, 255, 0.9);
    border-right: 360px solid transparent;
    height: 0;
    width: 920px;
  }
  .service_img .service_img__block .service__img__background .service__left__block p {
    font-size: 20px;
    width: 95%;
  }
  .service_img .service_img__block .service__img__background .service__left__block h2 {
    font-size: 40px;
  }
  .service_img .service_img__block .service__img__background .service__right_block ul li a {
    font-size: 18px;
    line-height: 2;
  }
  .service_img .service_img__block .service__img__background .service__right_block {
    height: 783px;
  }
  .service_img .service_img__block .service__img__background .service__left__block {
    padding-left: 41px;
    margin-bottom: 0;
  }
  .service_img, .service_img .service_img__block .service__img__background .service__left__block p {
    text-align: left;
  }

  .service__footer__contacts .contacts__wrap .contacts__block__wrap .contacts__block a.link {
    width: 211px;
    font-size: 24px;
  }
}
@include breakpoint(large) {
  .service__content .blue__form__service {
    padding-left: 287px;
  }
  .service_img .service_img__block .service__img__background .service__left__block p {
    font-size: 24px;
    width: 95%;
  }
  .service_img .service_img__block .service__img__background .service__left__block h2 {
    font-size: 48px;
  }
  .service_img .service_img__block .service__img__background .service__right_block ul li a {
    font-size: 18px;
    line-height: 2.44;
  }
  .service_img .service_img__block .service__img__background .service__right_block ul {
    margin-left:3%;
  }
}