.service_img {
  min-height: 820px;
  height: auto;
  .service_img__block {
    background-image: url("../img/ServicesSplashImage.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 820px;
    height: auto;
    .service__img__background {
      min-height: 820px;
      height: auto;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
      .service__left__block {
        padding-left: 41px;
        h2 {
          font-size: 48px;
          color: $white;
          margin-top: 173px;
          letter-spacing: 0.2px;
          margin-bottom: 14px;
        }
        p {
          font-size: 24px;
          line-height: 1.25;
          font-family: "Karla-Regular", sans-serif;
          text-align: left;
          color: $white;
          padding-left: 5px;
          margin-bottom: 67px;
          width: 95%;
        }
        a.service__link {
          width: 211px;
          height: 61px;
          line-height: 61px;
          display: inline-block;
          margin-left: 5px;
          background-image: linear-gradient(to bottom, rgba(54, 203, 238, 0.9), rgba(25, 156, 216, 0.9));
          font-size: 24px;
          text-align: center;
          color: $white;
          &:hover {
            background-image: linear-gradient(to bottom, rgba(54, 203, 238, 0.5), rgba(25, 156, 216, 1));;
          }
        }
      }
      .service__right_block {
        height: 783px;
        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        ul {
          display: inline-block;
          vertical-align: middle;
          margin-left: 17%;
          li {
            display: block;
            a {
              display: inline-block;
              font-family: Karla-Regular, sans-serif;
              font-size: 18px;
              line-height: 2.44;
              text-align: left;
              color: $white;
              &:hover {
                color: $accent;
                transition: .3s ease-in-out;
              }
            }
          }
        }
      }
      .arrow__dropdown__link {
        text-align: center;
        height: 50px;
        .chevron::before {
          color: $white;
          border-style: solid;
          border-width: 0.25em 0.25em 0 0;
          content: '';
          display: inline-block;
          height: 20px;
          left: 0;
          position: relative;
          top: 20px;
          transform: rotate(-45deg);
          vertical-align: top;
          width: 20px;
        }
        .chevron.chevron__bottom:before {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }
  }
}
@include breakpoint(small) {
  .service_img .service_img__block .service__img__background .service__left__block h2 {
    margin-top: 50px;
  }
  .service_img .service_img__block .service__img__background .arrow__dropdown__link {
    margin-top: 70px;
  }
}
@include breakpoint(medium) {
  .service_img .service_img__block .service__img__background .service__left__block h2 {
    margin-top: 173px;
  }
  .service_img .service_img__block .service__img__background .arrow__dropdown__link {
    margin-top: 0;
  }
}
@include breakpoint(large) {

}