.solve__slider {
  text-align: center;
  .border__block {
    padding-top: 24px;
    .hr__h2 {
      margin-bottom: 30px;
    }
    .services__link {
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }
}

.owl-carousel {
  .img__slider {
    position: relative;
    &::after {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
    }
    &:hover {
      &:after {
        opacity: 1;
        background-image: linear-gradient(141deg, #3023ae, #c96dd8);
        z-index: 1;
      }
    }
    &:hover .carousel__text {
      p {
        display: block;
      }
    }
  }
  .carousel__text {
    position: absolute;
    top: 34px;
    left: 15%;
    right: 15%;
    color: $white;
    font-size: 36px;
    line-height: 1.35;
    z-index: 10;
    span {
      display: inline-block;
      padding-bottom: 47px;
      line-height: 1.4;
    }
    p {
      text-align: left;
      display: none;
      font-size: 18px;
      font-family: "Karla-Regular", sans-serif;
    }
  }
}

//Arrows
.owl-prev {
  width: 31px;
  height: 15px;
  position: absolute;
  top: 44.5%;
  left: 10px;
  display: block !important;
  border: 0 solid $black;
  color: $black;
}

.owl-next {
  width: 31px;
  height: 15px;
  position: absolute;
  top: 44.5%;
  right: 10px;
  display: block !important;
  border: 0 solid $black;
  color: $black;
}

.owl-prev i::before, .owl-next i::before {
  color: $black;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  left: 0;
  right: 0;
  position: relative;
  top: 20px;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
}
.chevron.chevron__right::before {
  left: 0;
  transform: rotate(45deg);
}
.chevron.chevron__left::before {
  left: 20px;
  transform: rotate(-135deg);
}

//Media queries
@include breakpoint(small) {
  .owl-carousel .owl-item img {
    width: 100% !important;
  }
  .owl-carousel .owl-stage-outer {
    margin: 0 !important;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .owl-carousel .owl-item img {
    width: 400px !important;
  }
  .owl-carousel .owl-stage-outer {
    margin: 0 68px !important;
  }
}
