.solve__black {
  .border__right {
    padding-top: 70px;
    border-right: 1px solid #979797;
  .hr__h2 {
    margin-bottom: 24px;
  }
    .title__section {
      margin-right: 52px;
    }
}

  .solve__black__block__wrap {
    width: 270px;
    height: 350px;
    margin-top: 7px;
    background: $black;
    margin-bottom: 117px;
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .solve__black__block {
      display: inline-block;
      vertical-align: middle;
      padding-top: 30px;
      &:hover {
        .solve__black__name {
          color: $accent_h;
          transition: .3s;
        }
      }
      span {
        font-size: 100px;
      }
      .solve__black__name {
        font-size: 36px;
        color: $white;
        margin-top: 3px;
        margin-bottom: 18px;
      }
    }
  }
}
.solve__black__wrapper {
margin: 0 0 0 52px;
}
  //Media queries
@include breakpoint(small) {
  .solve__black .solve__black__block__wrap {
  width: 100%;
    margin-bottom: 30px;
  }
  .solve__black__wrapper {
    margin: 0;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .solve__black .solve__black__block__wrap {
  width: 270px;
    margin-bottom: 117px;
  }
  .solve__black__wrapper {
    margin: 0 0 0 52px;
  }
}