.solve__blue {
  .solve__blue__wrap {
    padding: 0 0 0 40px;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    background: $white;
    .title__section {
      padding-top: 100px;
      margin-right: 50px;
      h2 {
        color: $black;
      }
      .hr__h2 {
        margin-bottom: 60px;
        height: 3px;
        background-color: $accent;
      }
    }
    .services__link {
      padding-right: 57px;
      margin-top: -7px;
      margin-bottom: 96px;
    }
    .solve__blue__block {
      position: relative;
      margin-bottom: 82px;
      .solve__blue__block__circle {
        position: absolute;
        top: 42%;
        transform: translate(50%, -50%);
        float: left;
        width: 97px;
        height: 99px;
        border-radius: 50%;
        border: 4px solid $accent;
        &:hover {
          border: 4px solid $black;
          transition: .3s;
        }
        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .solve__blue__block__content {
        color: $black;
        text-align: left;
        margin-left: 23%;
        width: 62%;
        padding-left: 48px;
        h4 {
          font-size: 24px;
          margin-bottom: 12px;
        }
        p, a {
          line-height: 1.2;
          font-size: 18px;
          font-family: 'Karla-Regular', sans-serif;
        }
        a {
          color: #1b89cf;
          margin-top: -20px;
          &:hover {
            color: $black;
            transition: .3s;
          }
        }
      }
      .solve__blue__block__content.small__padding {
        padding-left: 24px;
      }
    }
  }
}

//Media queries
@include breakpoint(small) {
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__circle {
    position: static;
    float: none;
    margin: 0 auto;
    margin-right: 50%;
  }
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__content {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }
  .solve__blue .solve__blue__wrap {
    padding: 0;
  }
  .solve__blue .solve__blue__wrap .link__block {
    margin-right: 0;
  }
  .solve__blue .circle {
    font-variant: normal;
  }
  .solve__blue .solve__blue__wrap .link__block .link {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .solve__blue .solve__blue__wrap .title__section {
    margin-right: 0;
  }
  .solve__blue .solve__blue__wrap a.link {
    padding-bottom: 20px;
  }
  .solve__blue .solve__blue__wrap .services__link {
    padding-right: 0;
  }
}

@include breakpoint(medium) {

}

@include breakpoint(large) {
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__circle {
    position: absolute;
    float: left;
  }
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__content {
    text-align: left;
    margin-left: 23%;
    padding-left: 48px;
    width: 62%;
  }
  .solve__blue .solve__blue__wrap {
    padding: 0 0 0 40px;
  }
  .solve__blue .solve__blue__wrap .link__block {
    margin-right: 50px;
  }
  .solve__blue .circle {
    float: left;
  }
  .solve__blue .solve__blue__wrap .link__block .link {
    margin-top: -19px;
  }
  .solve__blue .solve__blue__wrap .title__section {
    margin-right: 50px;
  }
  .solve__blue .solve__blue__wrap a.link {
    padding-bottom: 0;
  }
  .solve__blue .solve__blue__wrap .services__link {
    padding-right: 57px;
  }
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__content.small__padding {
    padding-left: 50px;
  }
}
@include breakpoint(xxlarge) {
  .solve__blue .solve__blue__wrap .solve__blue__block .solve__blue__block__content.small__padding {
    padding-left: 24px;
  }
}