<section class="about_header_bottom_wrap">
    <div class="grid-container">
        <div class="about_header_bottom">
            <div class="row align-center">
                <div class="large-offset-6 large-6 columns">
                    <div class="about_header_bottom_content">
                        <h2>We solve technology problems.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis euismod mi, id
                            pellentesque risus eleifend vitae.
                        <p>Donec vel turpis sit amet justo pretium molestie. In convallis diam a tempor feugiat. Ut ac
                            erat sed nunc posuere faucibus. Nulla in lorem vel turpis scelerisque pharetra. Fusce
                            efficitur libero at mi posuere, at varius lectus tempus. </p>
                        <p>Aliquam erat volutpat. Proin lobortis, lacus ut condimentum mollis, ante ipsum eleifend eros,
                            eget rutrum ante eros id libero. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>