<div class="business">
    <div class="grid-container">
        <div class="border__block">
            <div class="startup_block background__business">
                <div class="blue__form__business">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4>Are you a start up?</h4>
                        <div class="hr"></div>
                        <p>We can help. We’ve worked with numerous start-ups and understand the hardships of growing
                            your business. We offer flat rate pricing depending on the services that you need. </p>
                        <a href="#" class="link">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="business_block background__business">
                <div class="blue__form__business__reverse">
                    <div class="small-12 medium-offset-7 medium-7 large-5 columns">
                        <h4>Are you a growing business?</h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of
                            IT industry and consulting experience, with experts from multiple areas of tech-support
                            coming together under one roof. </p>
                        <div class="services__link">
                            <a href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="web__block background__business">
                <div class="blue__form__business">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4>Do you need a new or updated website?</h4>
                        <div class="hr"></div>
                        <p>Creating and maintaining websites is hard work. We can solve that problem for you. We
                            specialize in the development of high-performance websites and can help you launch,
                            re-launch, design, and develop a state-of-the-art web presence for your business.
                        </p>
                        <a href="#" class="link">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>