<footer>
    <div class="grid-container">
        <div class="footer__wrap">
            <div class="row align-middle">
                <div class="large-12 columns">
                    <nav class="footer">
                        <ul class="footer_list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Industries</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <p class="copyright">&copy; 2017 WeSolveProblems | 3770 Selby Ave, Los Angeles, CA 90034</p>
                </div>
            </div>
        </div>
    </div>
</footer>