<section class="form">
    <div class="grid-container">
        <div class="border__block">
            <div class="form__background">
                <div class="row align-middle">
                    <div class="small-12 columns">
                        <div class="form__wrap">
                            <div class="form__block">
                                <h2>Contact Us!</h2>
                                <form action="#" method="post">
                                    <div class="row align-middle">
                                        <div class="small-12 large-6 columns">
                                            <div class="left__form">
                                                <div class="input__block">
                                                    <label for="name">Name</label><br>
                                                    <input type="text" id="name" placeholder="Name">
                                                </div>
                                                <div class="input__block">
                                                    <label for="company">Company</label><br>
                                                    <input type="text" id="company"
                                                           placeholder="Company name (if applicable)">
                                                </div>
                                                <div class="input__block">
                                                    <label for="phone">Telephone</label><br>
                                                    <input type="text" id="phone" placeholder="Your phone number">
                                                </div>
                                                <div class="input__block">
                                                    <label for="email">Email</label><br>
                                                    <input type="text" id="email" placeholder="Your email address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 large-6 columns">
                                            <div class="right__form">
                                                <div class="input__block">
                                                    <label for="message">Message</label><br>
                                                    <textarea id="message"
                                                              placeholder="Drop us a line…"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit__form">
                                        <input type="submit" value="Send message">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>