<header>
    <div class="grid-container">
        <div class="border__block">
            <div class="row align-middle">
                <div class="small-10 medium-5 large-6 columns">
                    <div class="logo">
                        <p class="logo__text"><a href="#">We Solve Problems</a></p>
                    </div>
                </div>
                <div class="small-2 medium-7 large-6 columns">
                    <nav class="menu">
                        <ul class="nav__list">
                            <li class="active show-for-medium"><a href="#">About</a></li>
                            <li class="show-for-medium"><a href="#">Services</a></li>
                            <li class="show-for-medium"><a href="#">Industries</a></li>
                            <li class="show-for-medium"><a href="#">Contact</a></li>
                            <li><button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas"></button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>