<section class="industries__link__img">
    <div class="grid-container">
        <div class="industries__link__img__block border__block">
            <div class="industries__link_background">
                <div class="row">
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="industries__link__left__block">
                            <a href="#" class="link__back"><i class="fa fa-chevron-left"></i>Back to Industries</a>
                            <h2>Media and Entertainment</h2>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-5 large-offset-2 columns">
                        <div class="industries__link__right_block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis euismod mi, id
                                pellentesque risus eleifend vitae.

                            <p>Donec vel turpis sit amet justo pretium molestie. In convallis diam a tempor feugiat. Ut
                                ac
                                erat sed nunc posuere faucibus. Nulla in lorem vel turpis scelerisque pharetra. Fusce
                                efficitur libero at mi posuere, at varius lectus tempus.</p>

                            <p>Aliquam erat volutpat. Proin lobortis, lacus ut condimentum mollis, ante ipsum eleifend
                                eros,
                                eget rutrum ante eros id libero. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>