<section class="industries_img">
    <div class="grid-container">
        <div class="industries_img__block border__block">
            <div class="row">
                <div class="industries__left__block">
                    <div class="rotate__block__top">
                        <p>We Solve Problems specializes in working with an array of industries.</p>
                    </div>
                    <div class="rotate__block__middle"></div>
                    <div class="rotate__block__bottom"></div>
                </div>
            </div>
            <div class="large-12 columns">
                <div class="arrow__dropdown__link">
                    <a href="#industries__content"><i class="chevron chevron__bottom"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>