<section id="industries__content">
    <div class="grid-container">
        <div class="border__block">
            <div class="industries__wrapper">
                <div class="row align-middle">
                    <div class="small-12 columns">
                        <div class="title__section">
                            <h2>Industries</h2>
                            <hr class="hr__h2">
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Startups</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Media and Entertainment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Banking and Financial <br/> Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Real Estate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Manufacturing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Government</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Education</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Healthcare</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Hospitality</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Non-profit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">Non-profit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="industries__block">
                            <div class="circle__wrap">
                                <div class="circle industries__block__circle">
                                    <a href="#" class="industries__title">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>