<!--Mobile menu-->
<ul class="mobile vertical menu">
    <li>
        <a href="#">About</a>
    </li>
    <li>
        <a href="#">Services</a>
    </li>
    <li>
        <a href="#">Industries</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>