<section class="problem">
    <div class="grid-container">
        <div class="border__block">
            <div class="problem__wrapper">
                <div class="row align-middle">
                    <div class="small-12 columns">
                        <div class="title__section">
                            <h2>Problem solvers</h2>
                            <hr class="hr__h2">
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Ben Sigman</span><br>
                            <span class="problem__title"> Master Problem Solver</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="problem__block">
                            <div class="circle__wrap">
                                <div class="circle services__block__circle">
                                    {img}
                                </div>
                            </div>
                            <span class="problem__name">Name</span><br>
                            <span class="problem__title"> Title</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>