<section class="services">
    <div class="grid-container">
        <div class="border__block">
            <div class="services__wrap">
                <div class="row align-middle">
                    <div class="small-12 columns">
                        <div class="title__section">
                            <h2>Services</h2>
                            <hr class="hr__h2">
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="services__block services__block__first">
                            <div class="circle services__block__circle">
                                <span class="icon icon-earth"></span>
                            </div>
                            <p class="services__name">Network Support</p>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="services__block">
                            <div class="circle services__block__circle">
                                <span class="icon icon-shape"></span>
                            </div>
                            <p class="services__name">Data Recovery</p>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="services__block">
                            <div class="circle services__block__circle">
                                <span class="icon icon-cloud"></span>
                            </div>
                            <p class="services__name">Cloud Hosting</p>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="services__block">
                            <div class="circle services__block__circle">
                                <span class="icon icon-support"></span>
                            </div>
                            <p class="services__name">On-call Support</p>
                        </div>
                    </div>
                    <div class="services__link">
                        <a href="#">View all services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>