<div class="service__footer__contacts">
    <div class="grid-container">
        <div class="contacts__wrap">
            <div class="row align-middle">
                <div class="small-12 columns">
                    <div class="contacts__block__wrap">
                        <div class="contacts__block">
                            <span>Learn how we can solve your IT problems today.</span>
                            <a class="link" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>