<div id="service__content" class="service__content">
    <div class="grid-container">
        <div class="border__block">
            <div class="manage__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Managed IT Solutions</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="data__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">Data Recovery</a></h4>
                        <div class="hr"></div>
                        <p>We can help. We’ve worked with numerous start-ups and  understand the hardships of growing your business. We offer flat rate pricing depending on the services that you need.</p>
                    </div>
                </div>
            </div>
            <div class="network__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Network Support</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="cloude__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">Data Centers and Cloud Hosting</a></h4>
                        <div class="hr"></div>
                        <p>Creating and maintaining websites is hard work. We can solve that problem for you. We specialize in the development of high-performance websites and can help you launch, re-launch, design, and develop a state-of-the-art web presence for your business.</p>
                    </div>
                </div>
            </div>
            <div class="support__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">On-call Support</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="servers__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">Virtual and Dedicated Servers</a></h4>
                        <div class="hr"></div>
                        <p>We can help. We’ve worked with numerous start-ups and  understand the hardships of growing your business. We offer flat rate pricing depending on the services that you need. </p>
                    </div>
                </div>
            </div>
            <div class="email__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Email</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="special__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">Special Projects</a></h4>
                        <div class="hr"></div>
                        <p>Creating and maintaining websites is hard work. We can solve that problem for you. We specialize in the development of high-performance websites and can help you launch, re-launch, design, and develop a state-of-the-art web presence for your business.</p>
                    </div>
                </div>
            </div>
            <div class="events__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Events</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="monitoring__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">System Monitoring and Support</a></h4>
                        <div class="hr"></div>
                        <p>We can help. We’ve worked with numerous start-ups and  understand the hardships of growing your business. We offer flat rate pricing depending on the services that you need. </p>
                    </div>
                </div>
            </div>
            <div class="wifi__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Networking/Wifi</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
            <div class="website__block background__service__content">
                <div class="white__form__service background__service__content">
                    <div class="small-12 medium-7 large-5 columns">
                        <h4><a href="#">Website Design and Development</a></h4>
                        <div class="hr"></div>
                        <p>Creating and maintaining websites is hard work. We can solve that problem for you. We specialize in the development of high-performance websites and can help you launch, re-launch, design, and develop a state-of-the-art web presence for your business.</p>
                    </div>
                </div>
            </div>
            <div class="security__block background__service__content">
                <div class="blue__form__service background__service__content">
                    <div class="small-12 medium-7 medium-offset-5 large-offset-7 large-5 columns">
                        <h4><a href="#">Security</a></h4>
                        <div class="hr"></div>
                        <p>We have the expertise to help grow your business even more. We offer a combined 40 years of IT industry and consulting experience, with experts from multiple areas of tech-support coming together under one roof.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>