<section class="service_img">
    <div class="grid-container">
        <div class="service_img__block border__block">
            <div class="service__img__background">
                <div class="row">
                    <div class="small-12 medium-6 large-5 columns">
                        <div class="service__left__block">
                            <h2>What’s your problem?</h2>
                            <p>WSP is here for all of your IT needs and
                                will help come up with a customized plan for you.</p>
                            <a href="#" class="service__link">Contact Us</a>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-5 large-offset-2 columns">
                        <div class="service__right_block">
                            <ul>
                                <li><a href="#">Managed IT Solutions</a></li>
                                <li><a href="#">Data Recovery</a></li>
                                <li><a href="#">Network Support</a></li>
                                <li><a href="#">Data Centers and Cloud Hosting</a></li>
                                <li><a href="#">On-call Support</a></li>
                                <li><a href="#">Virtual and Dedicated Servers</a></li>
                                <li><a href="#">Email</a></li>
                                <li><a href="#">Special Projects</a></li>
                                <li><a href="#">Events</a></li>
                                <li><a href="#">System Monitoring and Support</a></li>
                                <li><a href="#">Networking/Wifi</a></li>
                                <li><a href="#">Website Design and Development</a></li>
                                <li><a href="#">Security</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="large-12 columns">
                    <div class="arrow__dropdown__link">
                        <a href="#service__content"><span class="chevron chevron__bottom"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>