<section class="solve__blue">
    <div class="grid-container">
        <div class="solve__blue__wrap">
            <div class="row align-middle">
                <div class="small-12 columns">
                    <div class="title__section">
                        <h2>Problems we solve</h2>
                        <hr class="hr__h2">
                    </div>
                </div>
                <div class="small-12 large-6 columns">
                    <div class="solve__blue__block">
                        <div class="circle solve__blue__block__circle">
                            <span class="icon icon-earth-mini"></span>
                        </div>
                        <div class="solve__blue__block__content">
                            <h4 class="solve__name">Network Support</h4>
                            <p>We understand that network downtime and disconnections cost you time and money. We can
                                troubleshoot your connectivity issues quickly and effectively and have you back up and
                                running in no time!
                            </p>
                            <a href="#">Learn more about Network Support</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns">
                    <div class="solve__blue__block">
                        <div class="circle solve__blue__block__circle">
                            <span class="icon icon-shape-mini"></span>
                        </div>
                        <div class="solve__blue__block__content small__padding">
                            <h4 class="solve__name">Data Recovery</h4>
                            <p>Hared drive crashed? Spilled coffee on your keyboard? Having a major system meltdown?
                                Our data recovery specialists can assess the damage and help you get your files back.
                            </p>
                            <a href="#">Learn more about Data Recovery</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns">
                    <div class="solve__blue__block">
                        <div class="circle solve__blue__block__circle">
                            <span class="icon icon-cloud-mini"></span>
                        </div>
                        <div class="solve__blue__block__content">
                            <h4 class="solve__name">Cloud Hosting</h4>
                            <p>If you’re looking for an affordable, responsive solution to your computing needs, cloud
                                hosting is an excellent solution. We’ll help you take full advantage of its many
                                benefits while reducing your operational costs.
                            </p>
                            <a href="#">Learn more about Cloud Hosting</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 large-6 columns">
                    <div class="solve__blue__block">
                        <div class="circle solve__blue__block__circle">
                            <span class="icon icon-support-mini"></span>
                        </div>
                        <div class="solve__blue__block__content small__padding">
                            <h4 class="solve__name">On-call Support</h4>
                            <p>We rely on computers for… well, almost everything! We are here to support you - to ensure
                                that you always have access to your email, your data, your projects, and your social
                                networks.
                            </p>
                            <a href="#">Learn more about On-call Support</a>
                        </div>
                    </div>
                </div>
                <div class="services__link">
                    <a href="#">View all services</a>
                </div>
            </div>
        </div>
    </div>
</section>