<section class="solve__black">
    <div class="grid-container">
        <div class="border__right">
            <div class="solve__black__wrapper">
                <div class="row align-middle">
                    <div class="small-12 columns">
                        <div class="title__section">
                            <h2>How we solve problems</h2>
                            <hr class="hr__h2">
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="solve__black__block__wrap">
                            <div class="solve__black__block">
                                <span class="icon icon-trust"></span>
                                <p class="solve__black__name">Trust</p>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="solve__black__block__wrap">
                            <div class="solve__black__block">
                                <span class="icon icon-reliability"></span>
                                <p class="solve__black__name">Reliability</p>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="solve__black__block__wrap">
                            <div class="solve__black__block">
                                <span class="icon icon-expirence"></span>
                                <p class="solve__black__name">Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="solve__black__block__wrap">
                            <div class="solve__black__block">
                                <span class="icon icon-productivite"></span>
                                <p class="solve__black__name">Productivity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>