<section class="solve__slider">
    <div class="grid-container">
        <div class="border__block">
            <div class="row align-middle">
                <div class="small-12 columns">
                    <div class="title__section">
                        <h2>Who we solve problems for</h2>
                        <hr class="hr__h2">
                    </div>
                </div>
                <div class="owl-carousel">
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home1.png"
                                                                                       alt="home1">
                        <div class="carousel__text">
                            <span>Start Ups</span>
                            <p>WSP assists you with planning and executing enterprise-grade infrastructure and security
                                on a SMB budget.</p>
                            <p>We have extensive experience working with some of the biggest startups in Los Angeles,
                                supporting them from their humble beginnings and we have grown with them over the
                                years. </p>
                        </div>
                    </div>
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home2.png"
                                                                                       alt="home1">
                        <span class="carousel__text">Media & Entertainment</span>
                    </div>
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home3.png"
                                                                                       alt="home2">
                        <span class="carousel__text">Banking & Financial Services</span>
                    </div>
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home1.png"
                                                                                       alt="home3">
                        <span class="carousel__text">Banking & Financial Services</span>
                    </div>
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home2.png"
                                                                                       alt="home1">
                        <span class="carousel__text">Banking & Financial Services</span>
                    </div>
                    <div class="img__slider" style="width: 400px; height: 500px;"><img src="../assets/img/Home3.png"
                                                                                       alt="home2">
                        <span class="carousel__text">Banking & Financial Services</span>
                    </div>
                </div>
                <div class="services__link">
                    <a href="#">View all industries</a>
                </div>
            </div>
        </div>
    </div>
</section>
