{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Solved Problem</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
<div class="off-canvas position-right" id="offCanvas" data-off-canvas>
    {{> off-canvas-menu}}
</div>

<div class="off-canvas-content" data-off-canvas-content>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
</div>
<script src="{{root}}assets/js/app.js"></script>
<script src="{{root}}assets/js/owl.carousel.js"></script>
</body>
</html>